@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Tagesschrift&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Inter", sans-serif;
    font-style: Normal;
    
}

:root {
    --white: #ffffff;
    --black: #000000;
    --red: #ed1c24;
    --light-gray: #ffffffb3;
    --dark-grey: #0f0f0f;
}

body {
    background-color: var(--black);
    color: var(--white);
}

.logo-pic {
    width: 160px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 90px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbaritems a {
    font-size: 1.5rem;
    color: var(--white);
    text-decoration: none;
    margin: 10px;
    justify-content: center;

}

.btn-one {
    border: 2px solid white;
    border-radius: 25px;
    background-color: var(--black);
    color: var(--white);
    padding: 12px;
    margin: 10px;
}

.btn-two {

    border-radius: 25px;
    background-color: var(--red);
    color: var(--white);
    padding: 15px;
}

.icon-heading {
    border-radius: 50%;
    background-color: var(--white);
    color: var(--red);
    padding: 4px;

}
.pic{
    width: 100%;
}


.brand-heading {
    font-size: 4rem;
    text-align: center;
    font-weight: 300;
    margin-top: 50px;

}

.para-heading {
    font-family: futurak;
    font-size: 6rem;
}

.brand-para {
    font-size: 1.5rem;
    text-align: center;
    color: var(--light-gray);
    margin-bottom: 30px;
}

.grand-contrainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    
}

.grand-children-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 10px;
    padding: 5px;
   
}

.grand-btn {
    background-color: var(--black);
    color: var(--white);
    padding: 10px;
    border-radius: 50px;
    border: 2px solid var(--light-gray);
    margin-top: 30px;
    font-size: 1.5rem;

}

.grand-children-image img{
    background-color: var(--white);
    padding: 40px;
     width: 300px;
     height: 150px;
}


.back{
    background-color: var(--dark-grey);
}
.franchies-logo{
    text-align: center;
    margin-top: 50px;
    font-size: 3rem;
    font-family: "Inter", sans-serif;
    font-weight: 500;

}
.sub-section2{
    margin-top: 50px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    display: flex;
    
    
}
.address1{
    display: inline;
    justify-content: end;
    width: 200%;
    justify-content: center;
    
}
.heading{
    justify-content: flex-start;
    gap: 50px;
    
}